@model pro_Dottatec.Models.usuario

@{
	ViewData["Title"] = "Novo Usuário";
}

<script>
	document.addEventListener('keydown', function (event) { //pega o evento de precionar uma tecla
		if (event.keyCode != 46 && event.keyCode != 8) {//verifica se a tecla precionada nao e um backspace e delete
			var i = document.getElementById("CPF").value.length; //aqui pega o tamanho do input
			if (i === 3 || i === 7) //aqui faz a divisoes colocando um ponto no terceiro e setimo indice
				document.getElementById("CPF").value = document.getElementById("CPF").value + ".";
			else if (i === 11) //aqui faz a divisao colocando o tracinho no decimo primeiro indice
				document.getElementById("CPF").value = document.getElementById("CPF").value + "-";
		}
	});
</script>



<h1>Novo Usuário</h1>

<h4>usuario</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Senha" class="control-label"></label>
				<input asp-for="Senha" class="form-control" />
				<span asp-validation-for="Senha" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CPF" class="control-label"></label>
				<input asp-for="CPF" id="CPF" maxlength="14" placeholder="CPF" class="form-control" />
				<span asp-validation-for="CPF" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Novo Usuário" class="btn btn-outline-success" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
